<h1><%= t('.All posts') %></h1>
<% if user_signed_in? && current_user.admin?%>
<%= link_to t('common.New post'), new_admin_post_path, class: "btn btn-outline-primary button-sm" %>
<% end %>
<%= render @posts %>


<%= will_paginate @posts, renderer: 'BootstrapPaginationHelper::LinkRenderer' %>